<div class="side-padder">

  <p class="header-font">
    <strong><%= I18n.t('mailers.greetings', name: @user.name) %></strong>
  </p>

  <p class="text-font">
    <p style="margin:20px 0;">
      <%= I18n.t('mailers.change_password_request') %> <%= I18n.t('mailers.if_you_did_not_request_this') %> <%= I18n.t('mailers.your_password_will_not_be_changed_until') %>
    </p>

    <p style="margin:20px 0;">
     <strong> <%= I18n.t('mailers.use_this_password')%> </strong>.
    </p>

    <p class="temporary-password" style="">
      <%= @user.temporary_password %>
    </p>

    <p style="margin:20px 0;">
      <%= I18n.t('mailers.after_access') %><strong style="font-size:17px;"><%= I18n.t('mailers.we_recommend') %></strong> <%= I18n.t('mailers.change_password') %>
    </p>
  </p>
</div>
