<div class="email-container">
  <p class="text-header">
    Olá <strong><%= @user.name %></strong>,
  </p>

  <p class="text-font"><%= t('devise.mailers.change_password') %></p>

  <div class="display-grid">
    <a class="button-container" href="<%= "#{Rails.application.credentials[Rails.env.to_sym][:app_domain]}/users/password/edit?reset_password_token=#{@token}" %>">
      <button class="button">
        <%= t('devise.mailers.change_password_button') %>
      </button>
    </a>
  </div>

  <p class="text-not-request"><%= t('devise.mailers.if_you_did_not_request_this') %> <%= t('devise.mailers.your_password_will_not_be_changed_until') %></p>
</div>
